### Задача:

Тестовые данные:

1;12345;89997776655; test@mail.ru
2;54321;87778885566; two@mail.ru
3;98765; 87776664577;three@mail
4; 66678;87778885566; four@mail.ru
5; 34567; 84547895566; four@mail.ru
6; 34567; 89087545678; five@mail.ru
На основании заданного поля (это может быть id, phone, mail) получить все "связанные данные"

Например:
если задать поиск по условию phone = 87778885566;

Результат должен быть следующим:

2;54321;87778885566; two@mail.ru
4; 66678;87778885566; four@mail.ru
5; 34567; 84547895566; four@mail.ru
6; 34567; 89087545678; five@mail.ru

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("test2.xlsx",usecols=["key","id","phone","mail"])

In [3]:
df.head()

   key      id        phone                                        mail
0    0  674448  82711735625               wxlqcywqdhaaheortlpdb@mail.ru
1    1  353974  85375805342  myikngkjmxqezoxclysteuoubgwsofjgkr@mail.ru
2    2  735332  81134824477    xuiwkdyurhilevrosyhxfhqsqqqndjqc@mail.ru
3    3  118908  88761347200            imxcvfojmrowermtdyjxwgcr@mail.ru
4    4  948702  83294687381                  jiaiulghdishvbqcfp@mail.ru

In [4]:
df.shape[0]

500000

In [5]:
df.isna().sum()

key      0
id       0
phone    0
mail     0
dtype: int64

In [6]:
first_value = 'id'
last_value = 4

In [7]:
df.query("id == 4")

           key  id        phone                                     mail
339064  339064   4  85514996363  gjjzfhxnmqezafmuojloiabpdzhjkbi@mail.ru

In [8]:
test = df[df[first_value] == last_value]
global_set = set()
for col in test.columns:
    global_set.update(test[col])
answer_df = pd.DataFrame(columns=df.columns)
keys_list = []

In [9]:
def get_global_set():
    return global_set

def set_global_set(current_set):
    global_set.update(current_set)

def set_answer_df(x):
    global keys_list
    keys_list.append(x[0])

def function_exp(x):
    global_set = get_global_set()
    current_set = set(list(x))
    if len(global_set&current_set)>0:
        set_global_set(current_set)
        value = list(x)
        set_answer_df(value)

In [10]:
df.apply(function_exp,axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
499995    None
499996    None
499997    None
499998    None
499999    None
Length: 500000, dtype: object

In [11]:
df_test1 = df.iloc[keys_list]
df_test1

           key      id        phone                                     mail
4            4  948702  83294687381               jiaiulghdishvbqcfp@mail.ru
223394  223394  948702  82207083204             wkfnyfgjlozfqymmbdqf@mail.ru
339064  339064       4  85514996363  gjjzfhxnmqezafmuojloiabpdzhjkbi@mail.ru
344652  344652  223394  80009254272         dxnfwuiqfobdjloqocptmayv@mail.ru
428134  428134  339064  81526978300                  pnwhfassoztwnbc@mail.ru

In [12]:
df_test1.query("id == 4")

           key  id        phone                                     mail
339064  339064   4  85514996363  gjjzfhxnmqezafmuojloiabpdzhjkbi@mail.ru

In [13]:
first_value = 'id'
last_value = 3

In [14]:
df.apply(function_exp,axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
499995    None
499996    None
499997    None
499998    None
499999    None
Length: 500000, dtype: object

In [15]:
df_test2 = df.iloc[keys_list]
df_test2

           key      id        phone                                     mail
4            4  948702  83294687381               jiaiulghdishvbqcfp@mail.ru
223394  223394  948702  82207083204             wkfnyfgjlozfqymmbdqf@mail.ru
339064  339064       4  85514996363  gjjzfhxnmqezafmuojloiabpdzhjkbi@mail.ru
344652  344652  223394  80009254272         dxnfwuiqfobdjloqocptmayv@mail.ru
428134  428134  339064  81526978300                  pnwhfassoztwnbc@mail.ru
4            4  948702  83294687381               jiaiulghdishvbqcfp@mail.ru
223394  223394  948702  82207083204             wkfnyfgjlozfqymmbdqf@mail.ru
300431  300431  344652  80229797704      bcnmhbwasocdhvnsxqicbxbvgnt@mail.ru
339064  339064       4  85514996363  gjjzfhxnmqezafmuojloiabpdzhjkbi@mail.ru
344652  344652  223394  80009254272         dxnfwuiqfobdjloqocptmayv@mail.ru
428134  428134  339064  81526978300                  pnwhfassoztwnbc@mail.ru

### Выводы:
Задача была успешна решена просто за счет использования кортежей и их уникального свойства, что в них не могут находиться дубликаты. Также в работе использовал геттеры и сеттеры.